<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body class="body">

   <div class="columns w-row">
  <div class="leftcontent w-col w-col-6 w-col-stack">
    <!-- Only the background image is shown here using CSS -->
  </div>

  <div class="rightcontent w-col w-col-6 w-col-stack">
    {{ partial "bio.html" . }}
    {{ partial "intro.html" . }}
    {{ partial "links.html" . }}
    {{ partial "credit.html" . }}
    {{ partial "video.html" . }}
  </div>
</div>


  </body>
</html>
