<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body class="body">

    <!-- ✅ Add the image-background div here -->
    <div class="image-background"></div>

    <div class="columns w-row">
      <div class="leftcontent w-col w-col-6 w-col-stack">
        {{ partial "bio.html" . }}
        {{ partial "links.html" . }}
        {{ partial "credit.html" . }}
      </div>

      <div class="rightcontent w-col w-col-6 w-col-stack">
        {{ partial "intro.html" . }}
        {{ partial "video.html" . }}
      </div>
    </div>

  </body>
</html>
